---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Inicio">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl" id="agenda">Agenda</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:code-tags" title="Apertura del evento">Keynote</Feature>
        <Feature icon="mdi:code-greater-than" title="Charla 2">
          <a href="https://www.linkedin.com/in/eduarapaza/" target="_blank">Eduar Apaza</a> - Senior Software Engineer en
          <a href="https://www.exabeam.com/"><strong>Exabeam</strong></a>
        </Feature>
        <Feature icon="mdi:code-greater-than" title="Charla 3">
          <a href="https://www.linkedin.com/in/alonsocn/" target="_blank">Alonso Calle</a> - Senior Frontend en <a
            href="https://www.tektonlabs.com"><strong>Tekton Labs</strong></a
          >
        </Feature>
        <Feature icon="mdi:code-greater-than" title="¿Cómo consigo mi primer empleo en tech?">
          <a href="https://www.linkedin.com/in/angeloleva/" target="_blank">Angelo Leva</a> - Senior Frontend en <a
            href="https://www.tranzact.net"><strong>Tranzact</strong></a
          >
        </Feature>
        <Feature icon="mdi:code-greater-than" title="Charla 5">A revelar</Feature>
        <Feature icon="mdi:code-greater-than" title="Mi experiencia en un Bootcamp de Programación">
          <a href="https://www.linkedin.com/in/luis-garcia-712228206/" target="_blank">Luis Garcia</a> - Frontend Trainee
        </Feature>
        <Feature icon="mdi:gift-outline" title="Entrega de premios"><p>Networking</p></Feature>
        <Feature icon="mdi:human-male-board" title="Talleres Web">
          <ul>
            <li>Astro: Construye la web que necesitas</li>
            <li>TBD</li>
            <li>TBD</li>
          </ul>
        </Feature>
        <Feature icon="mdi:human-male-board" title="Talleres UI/UX">A revelar</Feature>
        <Feature icon="mdi:human-male-board" title="Talleres Móvil">A revelar</Feature>
      </div>
    </div>
  </section>

  <section class="mb-32 mt-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Datos del evento</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="06" title="Charlas" sub="Tech" />
        <Counter count="02" title="Laboratorios" sub="disponibles" />
        <Counter count="05" title="Talleres" sub="para ti" />
        <Counter count="150+" title="Asistentes" sub="inscritos" />
      </div>
    </div>
  </section>
  <section class="speakers">
    <div class="container">
      <h2 class="mb-16 text-6xl text-white">Speakers</h2>
      <div class="grid grid-cols-1 place-items-center gap-12 sm:grid-cols-2 md:grid-cols-4">
        <div class="company">
          <img src="./upt.svg" />
        </div>
        <div class="company">
          <img src="./tranzact.png" />
        </div>
        <div class="company">
          <img src="./tekton.png" />
        </div>
        <div class="company">
          <img src="./bcp.png" />
        </div>
        <div class="company">
          <img src="./deepskill.png" />
        </div>
        <div class="company">
          <img src="./libreupt.png" />
        </div>
        <div class="company">
          <img src="./celulaupt.png" />
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  .speakers {
    background-color: var(--action-color);
    padding: 60px 0;
  }

  .grid {
    .company {
      &:first-child {
        img {
          height: 100px;
        }
      }

      img {
        max-height: 200px;
        max-width: 200px;

        @media (min-width: 768px) {
          max-width: 100%;
        }
      }
    }
  }
</style>
