---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Inicio">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl" id="agenda">Agenda</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:code-tags" title="Apertura del evento">Keynote</Feature>

        <Feature icon="mdi:code-greater-than" title="Cracking the coding interview: Tips & Tricks">
          <a target="_blank" href="https://www.linkedin.com/in/eduarapaza/" target="_blank">Eduar Apaza</a> - Senior Software
          Engineer en
          <a target="_blank" href="https://www.exabeam.com/"><strong>Exabeam</strong></a>
        </Feature>
        <Feature icon="mdi:code-greater-than" title="Write for Humans, Not Just Machines: Unless Robots Take Over">
          <a target="_blank" href="https://www.linkedin.com/in/alonsocn/" target="_blank">Alonso Calle</a> - Senior Frontend
          en <a target="_blank" href="https://www.tektonlabs.com"><strong>Tekton Labs</strong></a>
        </Feature>
        <Feature icon="mdi:code-greater-than" title="Rise to the 1% and Unleash Your Developer Expertise">
          <a target="_blank" href="https://www.linkedin.com/in/angeloleva/" target="_blank">Angelo Leva</a> - Senior Frontend
          en <a target="_blank" href="https://www.tranzact.net"><strong>Tranzact</strong></a>
        </Feature>
        <Feature icon="mdi:code-greater-than" title="Cute Colors and Pretty Buttons: Unmasking Ux & UI Myths">
          <a target="_blank" href="https://www.linkedin.com/in/grazziabracamonte/" target="_blank">Grazzia Bracamonte</a
          > - UX/UI Designer en <a target="_blank" href="https://www.tektonlabs.com"><strong>Tekton Labs</strong></a>
        </Feature>
        <Feature icon="mdi:code-greater-than" title="Empleabilidad en Tecnología">
          <a target="_blank" href="https://www.linkedin.com/in/gretel-deza-alfaro-3650421b/" target="_blank"
            >Gretel Deza Alfaro</a
          > - Head of Capacity Planning en <a target="_blank" href="https://www.tektonlabs.com"
            ><strong>Tekton Labs</strong></a
          >
        </Feature>
        <Feature icon="mdi:code-greater-than" title="How I become a Hacker">
          <a target="_blank" href="https://www.linkedin.com/in/jorge-pacora-12261244/" target="_blank">Jorge Pacora</a> -
          Software and Cloud engineer en <a target="_blank" href="https://www.grafosdesign.com/"
            ><strong>Grafos</strong></a
          >
        </Feature>
        <Feature
          icon="mdi:code-greater-than"
          title="Code Chronicles: Evolution of Software Engineering skills across the time"
        >
          <a target="_blank" href="https://www.linkedin.com/in/angeloleva/" target="_blank">Uzi Mamani</a> - Expert Associate
          Partner en
          <a target="_blank" href="https://www.mckinsey.com/"><strong>McKinsey & Company</strong></a>
        </Feature>
        <Feature icon="mdi:gift-outline" title="Networking"><p>Premios/sorteos</p></Feature>
        <Feature icon="mdi:human-male-board" title="Talleres">
          <ul>
            <li>Going serverless</li>
            <li>Code Cleanup Clinic: Refactoring Legacy Code</li>
          </ul>
        </Feature>
      </div>
    </div>
  </section>

  <section class="mb-32 mt-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Datos del evento</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="07" title="Charlas" sub="Tech" />
        <Counter count="02" title="Laboratorios" sub="disponibles" />
        <Counter count="03" title="Talleres" sub="para ti" />
        <Counter count="150+" title="Asistentes" sub="inscritos" />
      </div>
    </div>
  </section>
  <section class="speakers">
    <div class="container">
      <h2 class="mb-16 text-6xl text-white">Speakers</h2>
      <div class="grid grid-cols-1 place-items-center gap-12 sm:grid-cols-2 md:grid-cols-4">
        <div class="company">
          <img src="./upt.svg" />
        </div>
        <div class="company">
          <img src="./tranzact.png" />
        </div>
        <div class="company">
          <img src="./tekton.png" />
        </div>
        <div class="company">
          <img src="./mckinsey.svg" />
        </div>
        <div class="company">
          <img src="./exabeam.svg" />
        </div>
        <div class="company">
          <img src="./deepskill.png" />
        </div>
        <div class="company">
          <img src="./libreupt.png" />
        </div>
        <div class="company">
          <img src="./celulaupt.png" />
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  .speakers {
    background-color: var(--action-color);
    padding: 60px 0;
  }

  .grid {
    .company {
      &:first-child {
        img {
          height: 100px;
        }
      }

      &:nth-child(4) {
        img {
          height: 150px;
        }
      }

      img {
        max-height: 200px;
        max-width: 200px;

        @media (min-width: 768px) {
          max-width: 100%;
        }
      }
    }
  }
</style>
