---
import CallToAction from './CallToAction.astro'
import Swiper from './Swiper.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <!-- <CallToAction /> -->
  <!-- <Swiper /> -->
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Hecho con ❤️ por <a href="https://codinglt.dev">Coding Latam</a>.
      </p>
    </div>
  </section>
</footer>

<style></style>
