---
import { Icon } from 'astro-icon'

const { src = '/header.svg' } = Astro.props
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-3xl md:text-left md:text-5xl lg:text-7xl xl:text-8xl">
          <slot><span class="text-gradient">Tacna <br /></span> Día del programador</slot>
        </h1>
        <h4>30 de Setiembre 2023</h4>
        <div class="flex w-[90%] flex-col gap-3 min-[500px]:flex-row">
          <a class="button has-icon" target="_blank" href="https://www.tickettailor.com/events/codinglatam/981247">
            <Icon name="mdi:account-check-outline" />
            Registrarme
          </a>
          <a class="button has-icon color-secondary" href="#agenda">
            <Icon name="mdi:bookmark-outline" />
            Agenda
          </a>
        </div>
      </div>
      <div class="image flex justify-center">
        <img class="hidden lg:block" src={src} alt="" decoding="async" />
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
